$mobileView: "only screen and (min-width : 700px)";
$tabletview: "only screen and (min-width : 1024px)";
$desktopView: "only screen and (min-width : 1440px)";

$inputColor: #BAAB68;
$backgroundColor: #6D213C;
$cardColor :#946846;
$textColor :#FAFF70;
